@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --nav-background-color: rgba(255, 255, 255, .1);
    --background-color: #000000;
    --second-background-color: #1f2733;
    --third-background-color: #2d3542;
    --main-color: #ff5500;
    --white-color: #fff;
    --tab-list-color: #7c8594;
}

::selection{
    background: var(--main-color);
    color: var(--background-color);
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 1rem;
}

::placeholder{
    color: var(--white-color);
}

html{
    font-size: 62.5%;
}

body{
    color: var(--white-color);
    overflow: hidden;
    background-color: var(--background-color);
}

p{
    font-size: 1.6rem;
}

.nav{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    padding: 2rem 0;
    background: var(--nav-background-color);
    border-radius: 5rem;
    z-index: 100;
}

.nav .nav-list{
    display: flex;
    justify-content: space-evenly;
}

.nav-list li{
    position: relative;
    display: flex;
    font-size: 3rem;
    cursor: pointer;
}

.nav-list li:hover,
.nav-list li.active{
    color: var(--main-color);
}

.tooltip{
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .3rem 1rem;
    background: var(--main-color);
    border-radius: .4rem;
    font-size: 1.6rem;
    color: var(--background-color);
    font-weight: 500;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.nav-list li:hover .tooltip,
a:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.container{
    width: 100vw;
    height: 100vh;
    perspective: 1500px;
    perspective-origin: 50%;
}

.box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin:50% 50% -50vw;
    transform: rotateY(0deg);
}

.section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    padding: 0 10%;
    backface-visibility: hidden;
}

.home{
    display: flex;
    align-items: center;
    gap: 20rem;
}

.home-info{
    max-width: 250rem;
}

.home-info h3{
    font-weight: 400;
    font-size: 34px;
}

.home-info h3 span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 40px;
}

.home-info .text-animation{
    font-size: 34px;
    line-height: 1;
    font-weight: 400;
    margin-top: 2%;
}

.home-info .text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "";
    color: var(--main-color);
    animation: lethers 20s infinite;
    font-weight: 600;
    font-size: 40px;
}

.text-animation span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--main-color);
    right: -10px;
    animation: cursor .8s infinite, touch 20s steps(15) infinite;
    width: calc(100% + 7px);
    background-color: var(--background-color);
}

@keyframes touch {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 7px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--background-color);
    }
}

@keyframes lethers {
    0%,20%{
        content: "Software Personalizado!";
    }
    21%,40%{
        content: "Software Comercial!";
    }
    41%,60%{
        content: "Software Open Source!";
    }
    61%,80%{
        content: "Software Web!";
    }
    81%,100%{
        content: "Software Mobile!";
    }
}


.home-info p{
    font-weight: 400;
    font-size: 25px;
    margin-top: 2%;
}

.desc{
    margin: 1rem 0 2rem;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-flex;
    padding: 1.2rem 3rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--background-color);
    font-weight: 600;
    margin-top: 2%;
}

.btn:hover{
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 2rem;
}

.home-info .btn-sci .sci a{
    position: relative;
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .3s;
}

.home-info .btn-sci .sci a:hover{
    background: var(--main-color);
    color: var(--background-color);
}

.img-box{
    position: relative;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    border: .5rem solid var(--main-color);
    box-shadow: 0 0 4rem var(--main-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 1s;
}

.img-box.home-img:hover{
    box-shadow: none;
}

.img-box img{
    position: absolute;
    display: block;
    width: 425px;
    object-fit: cover;
    margin-top: 25%;
}